#carousel-489233{
    cursor: pointer;
}
#resultsHeader{
    border-bottom: 10px solid white;
    margin-left: 25px; 
}
.causaResult{
    background-color: #f5f5f5;
}

.close-cause{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.helpRow{
    border: 10px solid rgb(128, 128, 128);
}
#footer{
 border-top: 4px solid #DDD;
 margin-top: 50px;
}
